header, footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000E7;
    color: #ffebcd;
  }
  
  .banner {
    height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    background-color: #000000E7;
  }
  
  .categorias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-size: 2em;
    background-color: #000000E7;
    color: blanchedalmond;
  }
  
  .video-card {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000E7;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2271D1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: A5A5A5;
  }
  